<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<!-- TODO get title name by controller-->
<head th:insert="maimai/common/layout :: head('top')">

</head>

<body>

    <!-- Page Header -->
    <div th:replace="maimai_ext/layout_ext :: header('top')"></div>

    <!-- Contents -->
    <div class="container-md px-5">
        <!-- Stepbar -->
        <div th:replace="maimai_ext/layout_ext :: stepbar"></div>


        <div class="">

            <h3 class="font-weight-bold pt-3 pl-3 col-lg-10 offset-lg-1">ご契約名義</h3>

            <hr>

            <form action="/complete" method="post" th:action="@{/complete}" th:object="${Hoge}">
                <!-- Input Last Name -->
                <div class="form-group row justify-content-center">
                    <label class="col-12 col-md-3 text-right" for="inputLastName" th:insert="maimai_ext/labels_ext :: lastName">Last name</label>
                    <span class="col-12 col-md-6">
                        <input class="form-control" type="text" id="inputLastName" name="lastName" placeholder="Last Name">
                        <small id="lastNameErrorMessage" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </span>
                </div>

                <!-- Input First Name -->
                <div class="form-group row justify-content-center">
                    <label class="col col-md-3 text-right" for="inputFirstName" th:insert="maimai_ext/labels_ext :: firstName">First name</label>
                    <span class="col col-md-6">
                        <input class="form-control" type="text" id="inputFirstName" name="firstName" placeholder="First name">
                        <small id="firstNameErrorMessage" class="form-text text-muted">Show password error massage.</small>
                    </span>
                </div>

                <!-- Acceptance checkbox -->
                <div class="form-group form-check row text-center">
                    <div class="col-md-6 offset-md-3">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="checkbox">
                        <label class="form-check-label" for="exampleCheck1" th:insert="maimai_ext/labels_ext :: acceptanceCheckbox">Check me out</label>
                    </div>
                </div>

                <!-- submit -->
                <div class="row justify-content-center">
                    <button type="submit" class="col-auto btn btn-primary text-center"  th:insert="maimai_ext/labels_ext :: nextButton">Submit</button>
                </div>
            </form>
        </div>



    </div>

    <!-- Page Footer -->
    <footer th:replace="maimai_ext/layout_ext::footer"></footer>


</body>
</html>